{% extends 'index.html' %}

{% block login %}
    <div class="container">
        <form action="/auth/login/" class="form-signin" role="form" method="post">
        <h3 class="form-signin-heading">Аутентификация</h3>
            {% csrf_token %}
            <input type="text" class="form-control" placeholder="Имя пользователя" name="username" id="username"  required autofocus>
            <hr>
            <input type="password" class="form-control" placeholder="Пароль" name="password" id ="password" required >
            {% if login_error %}
                <label class="has-error">{{ login_error }}</label>
            {% endif %}
            <hr>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
        </form>
    </div>
{% endblock %}